USE [Doacoes]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 29/11/2024 19:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[AdmCodigo] [int] IDENTITY(1,1) NOT NULL,
	[AdmUsuario] [varchar](50) NOT NULL,
	[AdmSenha] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdmCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 29/11/2024 19:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CatCodigo] [int] NOT NULL,
	[CatNome] [varchar](100) NOT NULL,
	[CatDataRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CatCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA_LOCALIDADE]    Script Date: 29/11/2024 19:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_LOCALIDADE](
	[CLCodigoLocalidade] [int] NOT NULL,
	[CLCodigoCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CLCodigoCategoria] ASC,
	[CLCodigoLocalidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 29/11/2024 19:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[EndCodigo] [int] IDENTITY(1,1) NOT NULL,
	[EndCodigoLocalidade] [int] NOT NULL,
	[EndCidade] [varchar](50) NOT NULL,
	[EndBairro] [varchar](50) NOT NULL,
	[EndLogradouro] [varchar](50) NOT NULL,
	[EndNumero] [int] NOT NULL,
	[EndComplemento] [varchar](100) NULL,
	[EndDataRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EndCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCALIDADE]    Script Date: 29/11/2024 19:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALIDADE](
	[LocCodigo] [int] IDENTITY(1,1) NOT NULL,
	[LocCEP] [varchar](9) NOT NULL,
	[LocNome] [varchar](50) NOT NULL,
	[LocDescricao] [varchar](200) NULL,
	[LocSite] [varchar](200) NULL,
	[LocLatitude] [varchar](200) NOT NULL,
	[LocLongitude] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORIA_LOCALIDADE]  WITH CHECK ADD FOREIGN KEY([CLCodigoCategoria])
REFERENCES [dbo].[CATEGORIA] ([CatCodigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CATEGORIA_LOCALIDADE]  WITH CHECK ADD FOREIGN KEY([CLCodigoLocalidade])
REFERENCES [dbo].[LOCALIDADE] ([LocCodigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD FOREIGN KEY([EndCodigoLocalidade])
REFERENCES [dbo].[LOCALIDADE] ([LocCodigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
