<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <section>
        <div id="TelaCadastro">
            <h1>Realize seu Cadastro</h1>
            <input type="text" placeholder="Nome" id="novoNome">
            <br><br>
            <input type="password" placeholder="Senha" id="novaSenha">
            <br><br>
            <input type="button" value="Cadastrar" id="btnCadastrar" class="btn" onclick="cadastrar()">
        </div>
    </section>
    <script src="cadastro.js"></script>
</body>
</html>
