<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo de Site</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <section>
        <div id="TelaLogin">
            <h1>Realize seu Login</h1>
            <input type="text" placeholder="Nome" id="nome">
            <br><br>
            <input type="password" placeholder="Senha" id="senha">
            <br><br>
            <input type="button" value="Login" id="btnLogin" class="btn" onclick="login()">
            <br><br>
            <input type="button" value="Registrar" id="btnRegistrar" class="btn" onclick="cadastro()">
            <br><br>
            <input type="button" value="Listar" id="btnListar" class="btn" onclick="listarUsuarios()">
        </div>
    </section>
    <script src="login.js"></script>

</body>
</html>